*.png
*.pt
*.pyc
*.log
*.cmake
*.check_cache
*.bin

__pycache__/
.vscode
.DS_Store
.ipynb_checkpoints/

Output/

octave-workspace
model/deepset.py
model/tempCodeRunnerFile.py

MMI/IC/AIC.so
MMI/IC/CMakeCache.txt
MMI/IC/Makefile
MMI/IC/CMakeFiles/
